.conteudoTopo{
    text-align: center;
    color: white;   
    font-family: 'Segoe UI' ; 
    padding-bottom: 10px;      
}

.topo{
border:solid 0.5px  teal;
 top: 0;
left: 0;
right: 0;
line-height: 1px;  
background: rgb(71,138,76);
background: linear-gradient(0deg, rgba(71,138,76,1) 12%, rgba(100,196,90,1) 38%, rgba(49,120,44,1) 100%);
border-bottom: 2px  solid  teal;      
}

.divPai{
      
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 150px;    
}


.div{
    background-color: white; 
    padding: 60px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border:solid 1px  rgb(235, 227, 227);
    margin-left: 10px;
    margin-right: 5px;
    border-bottom: 5px  solid teal;           
}

.nameTable{
    margin-top: 80px;

}
 
#estadonoPainel{
    top: 100px;
    margin-bottom: 10px;
    color: teal;
    font-size: 20px;  
    
}

#dateTime{
    bottom: 100px;
    left: 20px;
    font-size: 12px;

}


#casosConfirmados{  
    color:  rgb(109, 105, 105) ; 
    margin-top:  auto;
    font-size: 20px;
  
}

#casosSuspeitos{    
    color:  rgb(109, 105, 105) ; 
    margin-top:  auto;
    font-size: 20px;
}

#obitosConfirmados{ 
    color:  rgb(109, 105, 105) ; 
    margin-top:  auto;
    font-size: 20px;
}

.tabelaEstados{
  
  border-bottom: rgb(109, 105, 105) 1px solid;  
  background-color: rgb(140, 231, 144);
  color: rgb(109, 105, 105) ;  
  border-radius: 10px;
  
 
}

.btnEstado{
    cursor: pointer;
}

.btnEstado:hover{
color: rgb(219, 230, 226);
font-weight: 700;
}

#obitosConfirmadosAjax{
    font-size: 25px;
    color: #B22222;
}
#casosSuspeitosAjax{
    font-size: 25px;
    color: rgb(27, 105, 69);
}
#casosConfirmadosAjax{
    font-size: 25px;
    color: rgb(27, 105, 69);
}



